
			<div class="row containerm">
			<div style="padding: 10px 5px 0px 15px;"><p><a href="#main">Strona Główna </a> > <span ng-repeat="tag in artykuly"> <a ng-hide="$last" href="#">{{tag.title}}</a> <span ng-show="$last">{{tag.title}}</span> <span ng-hide="$last"> > </span></span></p></div>
          <div class="well list1">
			<hr style="margin-top: -10px;"/>
            <h1 class="art-tytul">{{article.title}} </h1>
			<p class="art-data">{{milisecToDate(article.publication_date)}}</p>
            <div class="col-md-7">
				<div style="margin-left: -10px; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px; margin-top: 10px;">
					<img ng-src="{{getImage(artykuly[0].image)}}" class="img-responsive">
					<p>Opis opis</p>
					<p>Autor: </p>
				</div>
            </div>
            <div class="col-md-5">
				<p class="art-opis"> {{article.description}}</p>
            </div>
            <p class="art-tresc">
				{{article.content}}
            </p>
			<div style="width: 550px; margin-left: auto; margin-right: auto; background-color: rgba(0,0,0,0.1); border-radius: 32px; padding: 20px 30px 10px 30px; margin-top: 20px; margin-bottom: 10px;" ng-hide="gallery == null">
				<slick arrows="true" dots="true" infinite="true" autoplay="true" autoplaySpeed="300" speed="300" slides-to-show="1" touch-move="false" slides-to-scroll="1" style="width: 490px;">
					<div ng-repeat="zajawka in getListOfArticles(3)">
						<div style="margin-left: auto; margin-right: auto; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px">
							<img ng-src="{{getImage(zajawka.image)}}" class="img-responsive">
							<p>Opis opis</p>
							<p>Autor: </p>
						</div>
					</div>
				</slick>
			</div>
			<p class="art-tagi">Wyświetlenia: {{article.views}} | Ranga: {{article.rank.name}}</p>
			<p>Tagi:<a href="#articleList?search={{tag.id}}" ng-repeat="tag in article.tag"> {{tag.name}}</a> </p>
          </div>
          </div>
      
		 <div class="row containerm">
          <div class="column" style="margin: 16px 5px 5px 5px;" ng-hide="currentUserName.data == ''">
            <textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
			style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="commentContent"></textarea>
            <a class="btn btn-success btn-p" ng-click="addComment()">KOMENTUJ</a>
			
          </div>
		  <div class="column" style="margin: 16px 5px 5px 5px;">
		   <h3 class="c1">Komentarze</h3>
          <ul class="list-group ">
            <li class="list-group-item list1" ng-repeat="komentarz in articleComments">
              <div class="row ">
                <div class="col-md-2">
				<a href="#userPage/{{komentarz.user.login}}">
                  <img ng-src="{{getUserAvatar(komentarz.user.id)}}" class="img-responsive">
                  <h5> {{komentarz.user.login}}</h5>
				  </a>
				  <p> {{milisecToDate(komentarz.date)}}</p> 
                </div>
                <div class="col-md-10">
                  <p class="text-justify">{{komentarz.content}}</p>
                </div>
				<div class="col-md-10 text-right">
					 <a class="btn btn-success btn-p" ng-if="komentarz.replies.length>0" ng-click="click(komentarz.id)" >Pokaz odpowiedzi ({{komentarz.replies.length}})</a>
					 <div ng-show="showButton(komentarz.id)">
						<div class="containerm" style="margin-left: auto; margin-right: auto; border-radius: 32px; padding: 10px 10px 5px 10px; margin-top: 10px; margin-bottom: 10px;">
						<ul class="list-group">
							<li class="list-group-item list1" ng-repeat="odpowiedzi in komentarz.replies">
							  <div class="row">
								<div class="col-md-3 text-left">
								<a href="#userPage/{{odpowiedzi.user.login}}">
								  <img ng-src="{{getUserAvatar(odpowiedzi.user.id)}}" class="img-responsive">
								  <h5> {{odpowiedzi.user.login}}</h5>
								</a>
								  <p> {{milisecToDate(odpowiedzi.date)}}</p> 
								</div>
								<div class="col-md-9">
								  <p class="text-justify">{{odpowiedzi.content}}</p>
								</div>
							</div>
							<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
						</li>
						</ul>
						</div>
					 </div>
					<div class="btn btn-success btn-p" ng-click="clickComment(komentarz.id)" ng-hide="currentUserName.data == ''">Odpowiedz</div>
					<div ng-show="showCommentButton(komentarz.id)">
					 <div class="row">
						<div class="column">
						<textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
						style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="replyComment[komentarz.id]"></textarea>
						<a class="btn btn-success btn-p" ng-click="addReplyComment(komentarz.id)">DODAJ</a>
						</div>
					 </div>
					</div>
				</div>
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
		</ul>
            <a class="btn1 btn-lg btn-primary" href="#comments/{{articleId}}">Pokaż wszystkie komentarze</a>
		</div>
		</div>
	  
	 <div class="row list1 containerm">
		  <div class="col-md-12 text-center">
			<h3 contenteditable="true" class="podobne">Podobne artykuly</h3>
		  </div>
		<div style="padding-top: 10px;">
		  <div class="col-md-4 "  ng-repeat="artykul in artykuly">
		  <a href="#article">
			<div class="list1" style="background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; margin-top: 10px;">
			 <img ng-src="{{getImage(artykul.image, 300, 200)}}" class="img-responsive">
			  <h2 class="podobne-tytul">{{artykul.title}}</h2>
			  <p class="podobne-opis">{{artykul.description}}</p>
			</div>
		   </a>
		  </div>
		</div>
		</div>