
			<div class="row containerm">
			<div style="padding: 10px 5px 0px 15px;"><p><a href="#main">Strona Główna </a> > <span ng-repeat="tag in categoriesForBreadcrumbs"> <a href="#articleList?category={{tag.id}}">{{tag.name}}</a> <span> > </span></span> <span>{{article.title}}</span></p></div>
          <div class="well list1">
			<hr style="margin-top: -10px;"/>
            <h1 class="art-tytul">{{article.title}} </h1>
			<p class="art-data">{{article.publication_date}}</p>
            <div class="col-md-7">
				<div style="margin-left: -10px; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px; margin-top: 10px;">
					<img ng-src="{{getImage(artykuly[0].image, 560, 300)}}" class="img-responsive">
					<p>Opis opis</p>
					<p>Autor: </p>
				</div>
            </div>
            <div class="col-md-5">
				<p class="art-opis" style="font-weight:bold;"> {{article.description}}</p>
            </div>
            <p class="art-tresc" style="line-height:200%;">
				{{article.content}}
            </p>
			<div style="width: 550px; margin-left: auto; margin-right: auto; background-color: rgba(0,0,0,0.1); border-radius: 32px; padding: 20px 30px 10px 30px; margin-top: 20px; margin-bottom: 10px;" ng-hide="gallery == null">
				<slick ng-transclude settings="slickConfig" control="slickHandle" style="width: 490px;">
					<div ng-repeat="zajawka in getListOfArticles(3)">
						<p style="margin-left: auto; margin-right: auto; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px">
							<img ng-src="{{getImage(zajawka.image, 560, 300)}}" class="img-responsive">
							Opis:
							</br>
							Autor:
						</p>
					</div>
				</slick>
			</div>
			<p class="art-tagi">Wyświetlenia: {{article.views}} | Ranga: {{article.rank.name}}</p>
			<p>Tagi:<a href="#articleList?search={{tag.id}}" ng-repeat="tag in article.tag"> {{tag.name}}</a> </p>
          </div>
          </div>
      
		 <div class="row containerm">
          <div class="column" style="margin: 5px 5px 5px 5px;" ng-hide="currentUserName.data == ''">
            <textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
			style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="commentContent"></textarea>
            <a class="btn btn-success btn-p" ng-disabled="commentContent == ''" ng-click="addComment()">KOMENTUJ</a>
			
          </div>
		  <div class="column" style="margin: 5px 5px 5px 5px;">
		   <h3 class="c1">Komentarze</h3>
          <ul class="list-group ">
            <li class="list-group-item list1" ng-repeat="komentarz in articleComments">
              <div class="row ">
                <div class="col-md-2">
				<a href="#userPage/{{komentarz.user.login}}">
                  <img ng-src="{{getUserAvatar(komentarz.user.id)}}" class="img-responsive">
                  <h5> {{komentarz.user.login}}</h5>
				  </a>
				  <p style="font-size:0.6em;"> {{komentarz.date}}</p> 
                </div>
                <div class="col-md-10">
                  <p class="text-justify commentText" style="font-weight:normal; font-size:1.1em;" ng-class="{show: show && komentarz.content.length > 100}">{{komentarz.content}}</p>
					<a ng-click="show = true" ng-hide="show || komentarz.content.length <= 100">Pokaż całość</a>
					<a ng-click="show = false" ng-show="show && komentarz.content.length > 100">Ukryj</a>
                </div>
				<div class="col-md-10 text-right">
					 <a class="btn btn-success btn-p" ng-if="komentarz.replies.length>0" ng-click="click(komentarz.id)" >Pokaz odpowiedzi ({{komentarz.replies.length}})</a>
					 <div ng-show="showButton(komentarz.id)">
						<div class="containerm" style="margin-left: auto; margin-right: auto; border-radius: 16px; padding: 6px; margin-top: 10px; margin-bottom: 5px;">
						<ul class="list-group" style="margin-bottom: 0px;">
							<li class="list-group-item list1" ng-repeat="odpowiedzi in komentarz.replies">
							  <div class="row">
								<div class="col-md-3 text-left">
								<a href="#userPage/{{odpowiedzi.user.login}}">
								  <img ng-src="{{getUserAvatar(odpowiedzi.user.id)}}" class="img-responsive">
								  <h5> {{odpowiedzi.user.login}}</h5>
								</a>
								  <p style="font-size:0.6em;"> {{odpowiedzi.date}}</p> 
								</div>
								<div class="col-md-9">
								  <p class="text-justify commentText" style="font-weight:normal; font-size:1.1em;" ng-class="{show: show && odpowiedzi.content.length > 100}">{{odpowiedzi.content}}</p>
									<a ng-click="show = true" ng-hide="show || odpowiedzi.content.length <= 100">Pokaż całość</a>
									<a ng-click="show = false" ng-show="show && odpowiedzi.content.length > 100">Ukryj</a>
								</div>
							</div>
							<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
						</li>
						</ul>
						</div>
					 </div>
					<div class="btn btn-success btn-p" ng-click="clickComment(komentarz.id)" ng-hide="currentUserName.data == ''">Odpowiedz</div>
					<div ng-show="showCommentButton(komentarz.id)">
					 <div class="row">
						<div class="column">
						<textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
						style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="replyComment[komentarz.id]"></textarea>
						<a class="btn btn-success btn-p" ng-disabled="replyComment[komentarz.id] == ''" ng-click="addReplyComment(komentarz.id)">DODAJ</a>
						</div>
					 </div>
					</div>
				</div>
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
		</ul>
            <a class="btn1 btn-lg btn-primary" href="#comments/{{articleId}}">Pokaż wszystkie komentarze</a>
		</div>
		</div>
	  
	 <div class="row list1 containerm">
		  <div class="col-md-12 text-center">
			<h3 contenteditable="true" class="podobne">Podobne artykuly</h3>
		  </div>
		<div style="padding-top: 10px;">
		  <div class="col-md-4 "  ng-repeat="artykul in listOfArticles">
		  <a href="#article">
			<div class="list1" style="background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; margin-top: 10px;">
			 <img ng-src="{{getImage(artykul.image, 300, 200)}}" class="img-responsive">
			  <h2 class="podobne-tytul">{{artykul.title}}</h2>
			  <p class="podobne-opis">{{artykul.description}}</p>
			</div>
		   </a>
		  </div>
		</div>
		</div>