
        <div class="row containerm">
		  <div class="column">
			<p>
				<h1 class="comment1"> Wszystkie komentarze </h1>
			</p>
          </div>
          <div class="well list1">
            <h1 class="art-tytul">{{artykuly[0].title}} </h1>
			<p class="art-data">{{artykuly[0].publication_date}}</p>
            <div class="col-md-4">
				<img src="{{getImage(artykuly[0].image, 300, 200)}}" class="img-responsive">
            </div>
            <p class="art-tresc">
              {{artykuly[0].description}}
            </p>
			<br><br>
          </div>
		</div>
      
		 <div class="row containerm">
          <div class="column" style="margin: 16px 5px 5px 5px;">
            <textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
			style="margin: 0px; height: 180px; width: 100%; resize:vertical;"></textarea>
            <a class="btn1 btn-lg btn-primary">KOMENTUJ</a>
			 <p class="comment2">Komentarze (2)</p>
          </div>
		  <div class="column">
			<p>
				<h3 class="comment3"> 
					<a href="#comments">Najnowsze</a> | <a href="#comments">Najstarsze</a> | <a href="#comments">Najczęściej odpowiadane</a>
				</h3>
			</p>
          </div>
	
		  <div class="column" style="margin: 16px 5px 5px 5px;">
          <ul class="list-group ">
				<div paging page="page" page-size="pageLength" total="total" show-prev-next="true" adjacent="1"></div>	
            <li class="list-group-item list1" ng-repeat="komentarz in komentarze">
              <div class="row ">
                <div class="col-md-2">
				<a href="#userPage/{{komentarz.userId}}">
                  <img ng-src="{{getUserAvatar(komentarz.userId)}}" class="img-responsive">
                  <h3> {{komentarz.userId}}</h3>
				  </a>
				  <p> {{komentarz.date}} {{komentarz.time}}</p> 
                </div>
                <div class="col-md-10">
                  <p class="text-justify">{{komentarz.content}}</p>
                </div>
				<div class="col-md-10 text-right">
					 <a class="btn btn-success btn-p" ng-if="komentarz.nr_of_replies>0" ng-click="click(komentarz.commentId)" >Pokaż odpowiedzi</a>
					 <div ng-show="showButton(komentarz.commentId)">
						<div class="containerm" style="margin-left: auto; margin-right: auto; border-radius: 32px; padding: 10px 10px 5px 10px; margin-top: 10px; margin-bottom: 10px;">
						<ul class="list-group">
							<li class="list-group-item list1" ng-repeat="odpowiedzi in komentarze">
							  <div class="row">
								<div class="col-md-3 text-left">
								<a href="#userPage/{{odpowiedzi.userId}}">
								  <img ng-src="{{getUserAvatar(odpowiedzi.userId)}}" class="img-responsive">
								  <h3> {{odpowiedzi.userId}}</h3>
								</a>
								  <p> {{odpowiedzi.date}} {{odpowiedzi.time}}</p> 
								</div>
								<div class="col-md-9">
								  <p class="text-justify">{{odpowiedzi.content}}</p>
								</div>
							</div>
							<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
						</li>
						</ul>
						</div>
					 </div>
					<div class="btn btn-success btn-p" ng-click="clickComment(komentarz.commentId)">Odpowiedz</div>
					<div ng-show="showCommentButton(komentarz.commentId)">
					 <div class="row">
						<div class="column">
						<textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
						style="margin: 0px; height: 180px; width: 100%; resize:vertical;"></textarea>
						<a class="btn btn-success btn-p">DODAJ</a>
						</div>
					 </div>
					</div>
				</div>
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
		</ul>
		</div>
		</div>
