
        <div class="row containerm">
		  <div class="column">
			<p>
				<h1 class="comment1"> Wszystkie komentarze </h1>
			</p>
          </div>
          <div class="well list1">
            <h1 class="art-tytul">{{article.title}} </h1>
			<p class="art-data">{{milisecToDate(article.publication_date)}}</p>
            <div class="col-md-4">
				<img src="{{getImage(article.image, 300, 200)}}" class="img-responsive">
            </div>
            <p class="art-tresc">
              {{article.description}}
            </p>
			<br><br>
            <a class="btn1 btn-lg btn-primary" href="#article/{{articleId}}">Powrót do artykułu</a>
          </div>
		</div>
      
		 <div class="row containerm">
          <div class="column" style="margin: 16px 5px 5px 5px;" ng-hide="currentUserName.data == ''">
            <textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
			style="margin: 0px; height: 180px; width: 100%; resize:vertical;"></textarea>
            <a class="btn1 btn-lg btn-primary">KOMENTUJ</a>
			 <p class="comment2">Komentarze ({{total}})</p>
          </div>
		  <div class="column">
			<p>
				<h3 class="comment3"> 
					<a href="#comments">Najnowsze</a> | <a href="#comments">Najstarsze</a> | <a href="#comments">Najczęściej odpowiadane</a>
				</h3>
			</p>
          </div>
	
		  <div class="column" style="margin: 16px 5px 5px 5px;">
				<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>
          <ul class="list-group ">	
            <li class="list-group-item list1" ng-repeat="komentarz in articleComments">
              <div class="row ">
                <div class="col-md-2">
					<a href="#userPage/{{komentarz.user.login}}" ng-hide="currentUserName.data == ''">
					  <img ng-src="{{getUserAvatar(komentarz.user.id)}}" class="img-responsive"/>
					  <h5> {{komentarz.user.login}}</h5>
				  </a>
				  <div ng-show="currentUserName.data == ''">
					  <img ng-src="{{getUserAvatar(komentarz.user.id)}}" class="img-responsive"/>
					  <h5> {{komentarz.user.login}}</h5>
				  </div>
				  <p> {{milisecToDate(komentarz.date)}}</p> 
                </div>
                <div class="col-md-10">
                  <p class="text-justify">{{komentarz.content}}</p>
                </div>
				<div class="col-md-10 text-right">
					 <a class="btn btn-success btn-p" ng-if="komentarz.replies.length>0" ng-click="click(komentarz.id)" >Pokaz odpowiedzi ({{komentarz.replies.length}})</a>
					 <div ng-show="showButton(komentarz.id)">
						<div class="containerm" style="margin-left: auto; margin-right: auto; border-radius: 32px; padding: 10px 10px 5px 10px; margin-top: 10px; margin-bottom: 10px;">
						<ul class="list-group">
							<li class="list-group-item list1" ng-repeat="odpowiedzi in komentarz.replies">
							  <div class="row">
								<div class="col-md-3 text-left">
								<a href="#userPage/{{odpowiedzi.user.login}}" ng-hide="currentUserName.data == ''">
								  <img ng-src="{{getUserAvatar(odpowiedzi.user.id)}}" class="img-responsive">
								  <h5> {{odpowiedzi.user.login}}</h5>
								</a>
								<div href="#userPage/{{odpowiedzi.user.login}}" ng-show="currentUserName.data == ''">
								  <img ng-src="{{getUserAvatar(odpowiedzi.user.id)}}" class="img-responsive">
								  <h5> {{odpowiedzi.user.login}}</h5>
								</div>
								  <p> {{milisecToDate(odpowiedzi.date)}}</p> 
								</div>
								<div class="col-md-9">
								  <p class="text-justify">{{odpowiedzi.content}}</p>
								</div>
							</div>
							<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
						</li>
						</ul>
						</div>
					 </div>
					<div class="btn btn-success btn-p" ng-click="clickComment(komentarz.id)" ng-hide="currentUserName.data == ''">Odpowiedz</div>
					<div ng-show="showCommentButton(komentarz.id)">
					 <div class="row">
						<div class="column">
						<textarea class="span6" rows="9" placeholder="Napisz komentarz..." required="" 
						style="margin: 0px; height: 180px; width: 100%; resize:vertical;"></textarea>
						<a class="btn btn-success btn-p">DODAJ</a>
						</div>
					 </div>
					</div>
				</div>
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
		</ul>
				<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>	
		</div>
		</div>
