
		<div class="row containerm">
          <h1 class="art-tytul"> Artykuły </h1>
		  <div class="column" style="margin: 16px 5px 5px 5px;">
				<div paging page="articlesPage" page-size="articlesLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>
        <ul class="list-group">
            <li class="list-group-item list1" ng-repeat="zajawka in listOfArticles">
              <div class="row">
              <a href="#article">
                <div class="col-md-2">
                  <img src="{{getImage(zajawka.image, 150, 150)}}" class="img-responsive">
                </div>
                <div class="col-md-6">
                  <h4 class="artykuly-art-tytul">{{zajawka.title}}</h4> 
                  <div class="caption">
                    <p class="artykuly-art-opis">{{zajawka.description}}</p>
                  </div>
                  <p class="artykuly-art-data">Data publikacji: {{zajawka.publication_date}}</br>Ilość komentarzy: {{zajawka.commntCount}}</p>
                </div>
              </a>
              </div>
			  <hr ng-hide="$last">
            </li>
          </ul>
				<div paging page="articlesPage" page-size="articlesLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>
		  </div>
		  </div>