<div class="row">
    {{waitingForResponse}}
    {{Registered}}
    <div class="panel panel-success">
          <div class="navbar2">
      <div>
            <h3 class="rejestracja-tytul">Zarejestruj się</h3>
      </div>
      <div class="green"></div>
          </div>
          <div class="panel-body">
          <form class="form-horizontal" role="form" name="regForm" action="index.html">
            <div class="form-group">
              <label for="inputLogin3" class="col-sm-2 col-md-offset-2 control-label">Login*</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputLogin3" ng-pattern="/^[A-Za-z0-9]{1,20}$/"  name="userLogin" ng-model="user.login" required placeholder="Podaj login">                 
              </div>
                <span class="help-block" style="color:#CC330E;" data-ng-show="user.login.length < 6  && user.login.length > 0"><span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;        
              Minimum 6 znaków jest wymagane.</span>
              <span class="help-block" style="color:#CC330E;" data-ng-show="regForm.userLogin.$error.pattern">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;     
                Może zawierać tylko znaki a-z i 0-9
              </span>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 col-md-offset-2 control-label">Email*</label>
              <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" name ="userEmail" ng-model="user.email" required placeholder="Podaj email">
              </div>
              <span class="help-block" style="color:#CC330E;" ng-show="regForm.userEmail.$error.email">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;Podany email jest niepoprawny
              </span>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 col-md-offset-2 control-label">Hasło*</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword3" ng-model="user.password" ng-pattern=""required placeholder="Podaj hasło">
              </div>
              <span class="help-block" style="color:#CC330E;" data-ng-show="user.password.length < 6  && user.password.length > 0">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;
                Minimum 6 znaków jest wymagane.
              </span>
            </div>
      
        <div class="form-group">
              <label for="inputPassword3sec" class="col-sm-3 col-md-offset-1 control-label">Powtórz Hasło*</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" id="inputPassword3sec" ng-model="user.password1" required placeholder="Ponów hasło">
              </div>
              <span class="help-block" style="color:#CC330E;" data-ng-show="(user.password && user.password1) && (user.password != user.password1)">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;
                Hasła nie zgadzają się!
              </span>
            </div>
      

            <div class="form-group">
              <label for="inputFirstName3" class="col-sm-2 col-md-offset-2 control-label">Imię</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputFirstName3" ng-pattern="/^[A-Za-z]{1,20}$/"  name="userFirstname" ng-model="user.firstname" placeholder="Podaj imię">
              </div>
              <span class="help-block" style="color:#CC330E;" data-ng-show="regForm.userFirstname.$error.pattern">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;
                Tylko znaki a-z! (max 20)
                </span>
            </div>

            <div class="form-group">
              <label for="inputSurname3" class="col-sm-2 col-md-offset-2 control-label">Nazwisko</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="inputSurname3" ng-pattern="/^[A-Za-z]{1,20}$/"  name="userLastname" ng-model="user.lastname" placeholder="Podaj nazwisko">
              </div>
              <span class="help-block" style="color:#CC330E;" data-ng-show="regForm.userLastname.$error.pattern">
                <span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;
                Tylko znaki a-z! (max 20)
              </span>
            </div>

            <div class="form-group">
              <label for="inputGender3" class="col-sm-2 col-md-offset-2 control-label">Płeć</label>
              <div class="col-sm-4">
                <select class="form-control" ng-model="user.gender">
                  <option value="K">kobieta</option>
                  <option value="M">mężczyzna</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputCity3" class="col-sm-2 col-md-offset-2 control-label">Miasto</label>
              <div class="col-sm-4">
              <!-- <input id="town" placeholder="Miasto" class="form-control" type="text" ng-model="user.town"> -->
                <input type="text" class="form-control" id="city" ng-model="user.city" placeholder="Podaj miasto">
              </div>              
            </div>
            <span class="col-md-offset-4">* - pola obowiązkowe</span>
            <div class="form-group">
            <br/>
              <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" style="padding-left:25%; padding-right:25%;" class="btn btn-medium btn-success" ng-disabled="user.login == '' || user.email == '' || user.password.length < 6 || user.password != user.password1 || regForm.userLogin.$error.pattern || regForm.userEmail.$error.email || regForm.userFirstname.$error.pattern || regForm.userLastname.$error.pattern" ng-click="register()">Zarejestruj konto</button>
              </div>
            </div>
          </form>
    </div>
  </div>  
</div>