
	  <div class="row containerm">
		  <div class="page-header" style="background-color: #C0C0C0" >
              <h1>&nbsp;Użytkownik:&nbsp;<b class="nazwa_uzytk">{{searchedUser.login}}</b>
              </h1>
            </div>
		
	  <div class="col-md-12" style="color: #000">
              <div class="col-md-3">&nbsp;<img src="{{getImage(searchedUser.avatar, 150, 150)}}" class="img-responsive"/> <br>
			   <a class="btn btn-lg btn-primary" ng_show="searchedUser.login == currentUserName.data"> Zmień avatar</a>
			  </div>
			     <div class="tytul1" style="text-align: center; font-size: 20px;"><br>Opis użytkownika</div><br>
              <div class="col-md-9">Płeć: {{searchedUser.gender}} | Info: {{searchedUser.info}}<br><br>
			  
			  <div class="przycisk1" style="text-align:right">
			  <a class="btn btn-lg btn-primary"  ng-click="click()"  ng_show="searchedUser.login == currentUserName.data" ng-hide="showEditDesc"> Zmień opis</a>
			  <div ng-show="showEditDesc">
					 <div class="row">
						<div class="column">
						<textarea class="span6" rows="9" placeholder="Napisz opis..." required="" ng-model="searchedUser.info"
						style="margin: 0px; height: 180px; width: 100%; resize:vertical;"></textarea>
						<a class="btn btn-lg btn-primary"  ng-click="click()"  ng_show="searchedUser.login == currentUserName.data">Zamknij</a>
						<a class="btn btn-lg btn-primary" ng-click="editDescription()"> Zapisz</a>
						</div>
					 </div>
					</div>
              </div>
			  </div>
			</div>
			<div class="col-md-12">
			<hr style="margin: 5px 5px 5px 5px;">
			</div>
        
	  <div class="col-md-12" style="color: #000">
		<div class="tytul2" style="text-align: left; font-size: 30px;">Komentarze użytkownika</div><br>
		
				<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>	
<ul class="list-group">
            <li class="list-group-item list1" ng-repeat="komentarz in userComments">
              <div class="row">
                <div class="col-md-2">
				  <h3>  <div class="komentarz_login">{{searchedUser.login}}</div></h3>
                  <!--<h3 contenteditable="true"> {{komentarz.userId}}</h3>-->
				  <p> {{milisecToDate(komentarz.date)}}</p> 
                </div>
                <div class="col-md-10">
                  <p class="text-justify commentText" ng-class="{show: show && komentarz.content.length > 100}">{{komentarz.content}}</p>
					<a ng-click="show = true" ng-hide="show || komentarz.content.length <= 100">Pokaż całość</a>
					<a ng-click="show = false" ng-show="show && komentarz.content.length > 100">Ukryj</a>
                </div>
				<div class="col-md-10 text-right">
					<a class="btn btn-success btn-p" href="#article/{{komentarz.article.id}}">Pokaż artykuł</a>
					
				</div>
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
	</ul>		
				<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>	
</div>
</div>