<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
	<http entry-point-ref="authEntryPoint">
	
		<intercept-url pattern="/getCurrentUserLogin" access="ROLE_USER" />
		<intercept-url pattern="/user/{login}" access="ROLE_ADMIN" method="GET"/>	
		<intercept-url pattern="/setUserGroup/{login}" access="ROLE_ADMIN" method="PATCH"/>
		
		<intercept-url pattern="/setCommentStatus" method="PATCH" access="ROLE_MODERATOR"/>
		
		<intercept-url pattern="/comment/{commentId}" access="ROLE_MODERATOR" method="GET"/>
		<intercept-url pattern="/comment" access="ROLE_USER" method="POST"/>
		<intercept-url pattern="/comment" access="ROLE_MODERATOR" method="DELETE"/>
		<intercept-url pattern="/userComments/{userID}" access="ROLE_MODERATOR" method="GET"/>
		
		<custom-filter ref="corsFilter" after="PRE_AUTH_FILTER" />
		
	</http>

	<authentication-manager alias="authManager">
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>