<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edycja kategorii</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-2">
				Nazwa*:
			</div>
			
			<div class="col-md-9">
				<input ng-model="tagForModal.name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				Rodzic:
			</div>
			<div class="col-md-9">
				<select ng-model="tagForModal.parent">
				<option ng-selected="{{'null' == tagForModal.parent}}" value="null">null</option>
				<option ng-selected="{{tagType.id == tagForModal.parent}}" ng-repeat="tagType in getlistOfCategories()" value="{{tagType.id}}">{{tagType.name}}</option>
				</select>
			</div>
		</div>
		* - pola obowiązkowe
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Zamknij</button>
        <button type="button" class="btn btn-success" ng-disabled="tagForModal.name == '' || tagForModal.name.length < 3 || tagForModal.parent == tagForModal.id" ng-click="UpdateTag(tagForModal.id); $hide()">Zmień</button>
      </div>
    </div>
  </div>
</div>