<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Dane Użytkownika</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Login:
			</div>			
			<div class="col-md-3">
				{{user.login}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Email:
			</div>			
			<div class="col-md-2">
				{{user.email}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Imię:
			</div>			
			<div class="col-md-2">
				{{user.name}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Nazwisko:
			</div>			
			<div class="col-md-2">
				{{user.surname}}
			</div>			
		</div>		
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Miasto:
			</div>			
			<div class="col-md-2">
				{{user.city}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Ostatnie logowanie:
			</div>			
			<div class="col-md-5">
				{{user.dateOfLastLogIn}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Data rejestracji:
			</div>			
			<div class="col-md-5">
				{{user.dateOfRegistration}}
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4" style="font-weight:bold;">
				Informacje:
			</div>			
			<div class="col-md-5">
				{{user.info}}
			</div>			
		</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Zamknij</button>
        
      </div>
    </div>
  </div>
</div>