<div class="row" >
    <div class="badge page-header" style="padding-top:15px; padding-bottom:15px; width:100%; color: black; background-color: #C0C0C0; font-size:2em; " >
        &nbsp;Regulamin strony:&nbsp;
    </div>


    <div class="col-md-12" style="color: #000;  width: 100%;">
        <div class=" col-md-9" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px; width: 100%;">
            <span>
                <span style="font-weight:normal; ">
                    <ol>
                        <li>Rejestracja i korzystanie z serwisu jest całkowicie bezpłatne;</li>
                        <li>Administratorzy nie są zobowiązani do poinformowania użytkownika o blokadzie lub usunięciu konta użytkownika;</li>
                        <li>Od decyzji o odmowie rejestracji użytkownika, usunięciu bądź blokadzie konta użytkownika odwołanie nie przysługuje;</li>
                        <li>Zabrania się nazw kont obraźliwych, wulgarnych lub niekulturalnych. Wszystkie takie konta, będą bezpowrotnie usuwane;</li>
                        <li>Administratorzy mogą odmówić publikacji zdjęcia bądź usunąć z serwera bez podania przyczyny;</li>
                    </ol>
                </span>
            </span>
        </div>
    </div>
</div>