<style>
	.noChar{
		font-weight:bold;
		color:red;
	}
</style>
	  <div class="row" >
		  <div class="badge page-header" style="padding-top:15px; padding-bottom:15px; width:100%; color: black; background-color: #C0C0C0; font-size:2em; " >
              &nbsp;Użytkownik:&nbsp;<b style="font-weight:bold;" class="nazwa_uzytk">{{searchedUser.login}}</b>              
            </div>
		
	  <div class="col-md-12" style="color: #000; ">
              <div class="col-md-3" style="margin-top:27px; padding-left:0px;"><img src="{{getImage(searchedUser.avatar, 150, 150)}}" class="img-responsive" style="width:100%;"/> <br>
			   <a class="btn btn btn-primary" style="width:100%" ng-show="searchedUser.login == currentUserName.data" ng-click="click7()"> Zmień avatar</a>
			   <span ng-show="showChangeAvatar">
			   <form  method="POST" action="/portal/service/add_avatar" enctype="multipart/form-data">
			   	<input class="form-control btn-success btnb" type="file" style="margin-top:5px;" name="file" id="file""/>
			   	<button class="btn btn btn-success" type="submit" style="width:100%; margin-top:5px;"> Zapisz</button>
			   	</form>
			   </span>
			   <a class="btn btn btn-danger" style="width:100%; margin-top:10px;" ng-show="searchedUser.login == currentUserName.data" ng-click="click6()"> Zmień hasło</a>
			   <span ng-show="showEditPass">
			     <form name="editPassForm" style="display:inline;" class="editPassForm">
			   		<input type="password" ng-minlength="6" required class="form-control" style="margin-top:5px;" ng-model="searchedUser.pass" placeholder="Aktualne hasło"/>
			   		<input type="password" name="pass1" ng-minlength="6" required ng-maxlenght="20" class="form-control" style="margin-top:5px;" ng-model="searchedUser.pass1" placeholder="Nowe hasło"/>
			   		<input type="password" name="pass2" ng-minlength="6" required ng-maxlenght="20" class="form-control" style="margin-top:5px; margin-bottom:5px;" ng-model="searchedUser.pass2" placeholder="Powtórz nowe hasło"/>
			   			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click6()"  ng-show="searchedUser.login == currentUserName.data" >Anuluj</a>
					 	<button class="btn btn-sm btn-success pull-left " type="submit" ng-disabled="!editPassForm.$valid || editPassForm.pass1.$error.minlength || editPassForm.pass2.$error.minlength" style="margin:2px;" ng-click="editPass()"> Zapisz</button>
			   	 </form>
			   </span>
			  </div>

			  <div class="tytul1" style="text-align: center; font-size: 20px; font-weight:bold;">Dane użytkownika</div>
			  
			  <div class=" col-md-9" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px;">
			  	<span ><span style="font-weight:bold; ">Imię: </span>
			  		<span ng-show="showEditName" style="font-weight:normal;">
			  			<span ng-show="searchedUser.name==''">Nie podano</span>
			  			  	{{searchedUser.name}}
			  		</span>
			  	<span ng-show="!showEditName" style="">
			  		<form name="editNameForm" style="display:inline;">
			  			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click1()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
					 	<button class="btn btn-sm btn-success pull-right " type="submit" ng-disabled="!editNameForm.$valid" style="margin:2px;" ng-click="editName()"> Zapisz</button>
			  			<span class="col-md-4 pull-right">			  			
							<input type="text" class="form-control"  ng-pattern="/^[A-Za-z'\-żźćńółęąśŻŹĆĄŚĘŁÓŃ]{0,20}$/" placeholder="Podaj imię..." ng-model="searchedUser.name2"/>
						</span>
					</form>
              	</span>
			  	</span>
			  	<a class="btn btn-sm btn-warning pull-right"  ng-click="click1()" style="width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditName" > Zmień imię</a>
			  	

			  </div>
			  
			  <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px;  margin-bottom:5px;">

			  	<span ><span style="font-weight:bold; ">Nazwisko: </span>
			  		<span ng-show="showEditSurname" style="font-weight:normal;">
			  			<span ng-show="searchedUser.surname==''">Nie podano</span>
			  			{{searchedUser.surname}}
			  		</span>
			  	<span ng-show="!showEditSurname" style="">
			  		<form name="editSurnameForm" style="display:inline;">
			  			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click2()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
					 	<button class="btn btn-sm btn-success pull-right " type="submit" ng-disabled="!editSurnameForm.$valid" style="margin:2px;" ng-click="editSurname()"> Zapisz</button>
			  			<span class="col-md-4 pull-right">			  			
							<input type="text" class="form-control" ng-pattern="/^[A-Za-z'\-żźćńółęąśŻŹĆĄŚĘŁÓŃ]{0,20}$/" placeholder="Podaj nazwisko..." ng-model="searchedUser.surname2"/>
						</span>
					</form>
              	</span>
			  	</span>
			  	<a class="btn btn-sm btn-warning pull-right"  ng-click="click2()" style="width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditSurname" > Zmień nazwisko</a>

			  </div>

			  <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px;">
			  	<span ><span style="font-weight:bold; ">Miasto: </span>
			  	<span ng-show="showEditCity" style="font-weight:normal;">
			  		<span ng-show="searchedUser.city==''">Nie podano</span>
			  		{{searchedUser.city}}
			  	</span>
			  	<span ng-show="!showEditCity" style="">
			  		<form name="editCityForm" style="display:inline;">
			  			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click3()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
					 	<button class="btn btn-sm btn-success pull-right " type="submit" ng-disabled="!editCityForm.$valid" style="margin:2px;" ng-click="editCity()"> Zapisz</button>
			  			<span class="col-md-4 pull-right">			  			
							<input type="text" class="form-control" placeholder="Podaj miasto..." ng-model="searchedUser.city2"/>
						</span>
					</form>
              	</span>
			  	</span>
			  	<a class="btn btn-sm btn-warning pull-right"  ng-click="click3()" style="width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditCity" > Zmień Miasto</a>

			  </div>			  

              <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px;">
              	
              	<span ><span style="font-weight:bold; ">Płeć: </span>
              		<span style="font-weight:normal;" ng-show="searchedUser.gender == 'M'">Mężczyzna</span>
			  		<span style="font-weight:normal;" ng-show="searchedUser.gender == 'K'">Kobieta</span>
			  		<span style="font-weight:normal; text-decoration:underline;" ng-show="searchedUser.gender == ''">Nie podano</span>
			  		
			  	<span ng-show="!showEditGender" style="">
			  			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click4()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
					 	<a class="btn btn-sm btn-success pull-right " style="margin:2px;" ng-click="editGender()"> Zapisz</a>
			  			<span class="col-md-4 pull-right">
			  				<select class="form-control" ng-model="searchedUser.gender2">
                  				<option value="">-wybierz płec-</option>                  
                  				<option value="K">kobieta</option>
                  				<option value="M">mężczyzna</option>
                			</select>			  			
							<!-- <input type="email" class="form-control"  placeholder="Podaj email..." required="" ng-model="searchedUser.email"/> -->
						</span>
              	</span>
			  	</span>
			  	<a class="btn btn-sm btn-warning pull-right"  ng-click="click4()" style="width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditGender" > Zmień Płeć</a>

			  </div>

			  <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px; ">

			  	<span ><span style="font-weight:bold; ">Email: </span><span ng-show="showEditEmail" style="font-weight:normal;">{{searchedUser.email}}</span>
			  	<span ng-show="!showEditEmail" style="">
			  		<form name="editEmailForm" style="display:inline;">
			  			<a class="btn btn-sm btn-primary pull-right" style="margin:2px;" ng-click="click5()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
					 	<button class="btn btn-sm btn-success pull-right " type="submit" ng-disabled="!editEmailForm.$valid" style="margin:2px;" ng-click="editEmail()"> Zapisz</button>
			  			<span class="col-md-4 pull-right">			  			
							<input type="email" name="email" class="form-control" placeholder="Podaj email..." required ng-model="searchedUser.email2" value="test@email.com"/>
						</span>
					</form>
              	</span>
			  	</span>
			  	<a class="btn btn-sm btn-warning pull-right"  ng-click="click5()" style="width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditEmail" > Zmień Email</a>			  
			  </div>

			  <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px; text-align:left;">
			  <p style="font-weight:bold;">Data rejestracji: <span style="font-weight:normal;">{{searchedUser.dateOfRegistration}}</span></p>
			  </div>

			  <div class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px; text-align:left;">
			  <p style="font-weight:bold;">Data ostatniego logowania: <span style="font-weight:normal;">{{searchedUser.dateOfLastLogIn}}</span></p>
			  </div>
			  	
			  <div class="col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px; margin-bottom:5px; text-align:left;">	
			  <!-- <p style="height:100px; white-space:nowrap;">Informacje: <span style="font-weight:normal;">{{searchedUser.info}}</span></p>			   -->			  
			  <p style="font-weight:bold;">
			  	Informacje:			  	
			  	<span style="font-weight:normal;">{{searchedUser.info}}</span>
			  	<span ng-show="searchedUser.info == ''" style="font-weight:normal;">Brak opisu</span>
			  </p>
			  	<div class="przycisk1" style="text-align:right">
			  	<a class="btn btn-sm btn-warning"  ng-click="click()" style="margin-bottom:5px; width:120px;"  ng-show="searchedUser.login == currentUserName.data && showEditDesc" > Zmień opis</a>

			  	<div ng-show="!showEditDesc" style="margin-top:10px;">
			  		<span ng-class="{'noChar': searchedUser.info2.length == 200}">
			  			Pozostało znaków: {{200-searchedUser.info2.length}}
			  		</span>
			  		<form name="editDescForm" style="display:inline;">
					 <div class="row" style="min-height:250px; border-color:#C0C0C0;">
						<div class="column">
							<textarea class="span-6 form-control" rows="9" placeholder="Napisz opis..." maxlength="200" ng-model="searchedUser.info2"
							style="margin: 15px; height: 180px; width: 95%; resize:vertical; font-weight:normal;"></textarea>							
							<a class="btn btn-sm btn-success pull-left" style="margin-top:10px; margin-left:15px;" ng-click="editDescription()"> Zapisz</a>
							<a class="btn btn-sm btn-primary pull-right" style="margin-top:10px; margin-right:15px;" ng-click="click()"  ng-show="searchedUser.login == currentUserName.data">Anuluj</a>
						</div>
					 </div>
					</form>
				</div>					
              	</div>
              </div>
              <div ng-show="!editNameForm.$valid || !editSurnameForm.$valid || !editEmailForm.$valid || editPassFormError || changePassError || editPassFormError2" class=" col-md-9 pull-right" style="font-size:14px; color: black; background-color:#C0C0C0; padding-top:5px; padding-bottom:5px;  margin-bottom:5px;">
              	<span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="!editNameForm.$valid">
                  <span style="background-color:#F13333;" class="badge pull-left" >!</span>&nbsp;Wprowadzono niedozwolone znaki w <b>imieniu</b>
                </span>              
                <span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="!editSurnameForm.$valid">
                  <span style="background-color:#F13333;" class="badge pull-left" >!</span>&nbsp;Wprowadzono niedozwolone znaki w <b>nazwisku</b>
                </span>
                <span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="!editEmailForm.$valid">
                  <span style="background-color:#F13333;" class="badge pull-left" >!</span>&nbsp;Wprowadzono niepoprawny adres <b>email</b> lub jest on już używany
                </span>
                <span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="editPassFormError">
                  <span style="background-color:#F13333;" class="badge pull-left" >!</span>&nbsp;Hasła się nie zgadzają
                </span>                
                <span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="editPassFormError2">
                  <span style="background-color:#F13333;" class="badge pull-left" >!</span>&nbsp;Nie można zmienić na takie samo hasło
                </span>
                <span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="editPassForm.pass1.$error.minlength || editPassForm.pass2.$error.minlength">
                	<span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;Minimum 6 znaków jest wymagane
              	</span>
              	
              	<span class="help-block" style="color:#CC330E; font-size: 13px;" data-ng-show="changePassError">
                	<span style="background-color:#F13333;" class="badge pull-left ">!</span>&nbsp;Wprowadzono niepoprawne hasło {{changePassError}}
              	</span>
              </div>
              <div class=" col-md-9 pull-right success" style="font-size:14px; color: black;  background-color:#C0C0C0; padding-top:5px; padding-bottom:5px;  margin-bottom:5px;">
              	<span class="help-block name" style="color:#47a447; " ng-show="changeNameSuccess" >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>imienia</b> zakończona sukcesem
                </span>              
                <span class="help-block surname" style="color:#47a447;padding-top:5px; padding-bottom:5px; " ng-show="changeSurnameSuccess" >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>nazwiska</b> zakończona sukcesem
                </span>
                <span class="help-block city" style="color:#47a447; padding-top:5px; padding-bottom:5px; " ng-show="changeCitySuccess" >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>miasta</b> zakończona sukcesem
                </span>      
                <span class="help-block gender" style="color:#47a447; padding-top:5px; padding-bottom:5px; " ng-show="changeGenderSuccess" >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>płci</b> zakończona sukcesem
                </span>
                <span class="help-block email" style="color:#47a447; padding-top:5px; padding-bottom:5px; " ng-show="changeEmailSuccess" >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>adresu email</b> zakończona sukcesem
                </span>
                <span class="help-block info" style="color:#47a447; ;padding-top:5px; padding-bottom:5px; "ng-show="changeInfoSuccess"  >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>informacji o użytkowniku</b> zakończona sukcesem
                </span>
                <span class="help-block pass" style="color:#47a447; padding-top:5px; padding-bottom:5px; "ng-show="changePassSuccess"  >
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;Zmiana <b>hasła</b> zakończona sukcesem
                </span>
              </div>
			  
			</div>
			<div class="col-md-12">
			<hr style = 'background-color:#000000; border-width:0; color:#000000; height:0.1em; lineheight:0; display: inline-block; width:100%' />

			<!-- <hr style="margin: 5px 5px 5px 5px;"> -->
			</div>
        
	  <div class="col-md-10 col-md-offset-1" style="color: #000">
		<div class="tytul2" style="text-align: left; font-size: 20px; font-weight:bold;">Komentarze użytkownika</div><br>
			<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>
				<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
	<ul class="list-group">
            <li class="list-group-item list1" ng-repeat="komentarz in userComments" style="padding:0px 15px;">
              <div class="row" style="padding-bottom:0px;">
                <div class="col-md-3" style="">
				  <h5>  <div class="komentarz_login">{{searchedUser.login}}</div></h5>
                  <!--<h3 contenteditable="true"> {{komentarz.userId}}</h3>-->
				  <p style="font-size:0.7em;"> {{milisecToDate(komentarz.date)}}</p> 
                </div>
                <div class="col-md-9" style="border-left: 1px solid #eee;">
                  <p class="text-justify commentText " ng-class="{show: show && komentarz.content.length > 100}" style="margin-top:10px; font-size:13px; font-weight:normal;">{{komentarz.content}}</p>
					<a ng-click="show = true" ng-hide="show || komentarz.content.length <= 100">Pokaż całość</a>
					<a ng-click="show = false" ng-show="show && komentarz.content.length > 100">Ukryj</a>
					
					<a class="btn btn-success btn-p btn-sm pull-right" href="#/article/{{articleIds[$index]}}">Pokaż artykuł</a>
					
                </div>				
			</div>
			<hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
		</li>
	</ul>		
				<div paging page="commentsPage" page-size="commentsLimit" total="total" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)"></div>	
</div>
</div>