<style>
#comment_table th, td#center {
	text-align: center;
}
</style>
	Szukaj loginu: <input type="text" ng-model="search.login">
	Grupy:
 	<select ng-model="search.group">
 		<option value="">- Wybierz grupę -</option>
		<option ng-repeat="group in groups" value="{{group.name}}">{{group.name}}</option>
	</select> 
 <div class="row btn-d">

    	<div class="row row2">
			<table>
				<th class="col-md-1 col-md">#</th>
		 		<th class="col-md-2 col-md">Login</th>
		 		<th class="col-md-4 col-md">email</th>
		 		<th class="col-md-2 col-md">Grupa</th>
		 		<th class="col-md-1 col-md">Operacje</th>

				<tr ng-repeat="user in listOfUsers | filter:{login:search.login} | filter:search.group">				
					<td class="col-md-1">{{$index + 1 + (page-1)*usersLimit}}</td>
					<td class="col-md-2">{{user.login}}</td>
					<td class="col-md-4">{{user.email}}</td>
					<td class="col-md-2">
					
					<!-- <div ng-controller="groupChange"> -->
						<span ng-show="currentUserLogin == user.login">{{user.group.name}}</span>
						<span ng-show="currentUserLogin != user.login">
	 						<select ng-model="user.group.selected">
								<option ng-repeat="group in groups" ng-selected="user.group.selected == group.id" value="{{group.id}}">{{group.name}}</option>
							</select>

							<a class="btn btn-danger btn-p"  ng-show="user.group.selected != user.group.id" ng-click="ChangeGroup(user)">Zmień</a>
						</span>
					<!-- </div> -->
					</td>
					<td class="col-md-1"><button class="btn btn-success btn-p" data-animation="am-fade-and-scale" data-template="html/modal/userModal.html" bs-modal="modal" ng-click="setUserForModal(user.login)">Szczegóły</button>
				
					</td>
				</tr>
			</table>
      </div>
      <div class="col-md-4 pull-right" style="height: 100%;" paging page="usersPage" page-size="usersLimit" total="totalUsers" show-prev-next="true" adjacent="1" paging-action="ChangePage(page)" ng-init="page=1"></div>
</div>