<style type="text/css">
.category_record {
	font-size: 18px;
}

</style>

<div class="row btn-d">

<button style="margin-bottom: 40px;" class="btn btn-success btn" data-animation="am-fade-and-scale" data-template="html/modal/categoryModal.html" bs-modal="modal" ng-click="CreateNewCategory(null)">Dodaj kategorię</button>

<treecontrol class="tree-light"
   tree-model="listOfCategories"
   options="treeOptions"
   on-selection="showSelected(node)"
   selected-node="node1">
   <span class="category_record">
   {{node.name}} 

   <a style="color: #4cae4c;" data-animation="am-fade-and-scale" data-template="html/modal/categoryModal.html" bs-modal="modal" ng-click="SetCategoryForModal(node.id)">Edytuj</a>

   <span ng-show="getListOfElementsByParent(node.id).length == 0">| 
    
    <a style="color: #c9302c;" ng-click="remove(node.id)" ng-show="getListOfElementsByParent(node.id).length == 0">Usuń </a>

	</span>
	| 
	<a style="color: #4cae4c;" data-animation="am-fade-and-scale" data-template="html/modal/categoryModal.html" bs-modal="modal" ng-click="CreateNewCategory(node.id)">Dodaj dziecko</a>

	</span>
</treecontrol>

</div>