<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edycja kategorii</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-2">
				Nazwa*:
			</div>
			
			<div class="col-md-9">
				<input ng-model="categoryForModal.name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				Rodzic:
			</div>
			<div class="col-md-9">
				<select ng-model="categoryFormModal.parent">
				<option ng-selected="{{'null' == categoryForModal.parent}}" value="null">null</option>
				<option ng-selected="{{cat.id == categoryForModal.parent}}" ng-repeat="cat in GetFlatCategoriesList()" value="{{cat.id}}" ng-hide="cat.id == categoryForModal.id">{{cat.name}}</option>
				</select>
			</div>
			<textarea style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="categoryForModal.description"></textarea>
		</div>
		* - pola obowiązkowe
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Zamknij</button>
        <button type="button" class="btn btn-success" ng-disabled="categoryForModal.name == '' || categoryForModal.name.length < 3 || categoryForModal.parent == categoryForModal.id" ng-click="UpdateCategory(categoryForModal.id); $hide()">Zmień</button>
      </div>
    </div>
  </div>
</div>