<!doctype html>
<html ng-app="studentInfoApp">
<head>
<title>Student Info</title>
<script src="jQuerry/jquery-1.11.0.min.js"></script>
<script src="angular/angular.js"></script>
<script src="angular/angular-sanitize.js"></script>
<script src="angular/angular-animate.js"></script>
<script src="angular/angular-route.js"></script>
<script src="angularstrap/angular-strap.min.js"></script>
<script src="angularstrap/angular-strap.tpl.min.js"></script>
    <script src="angular/paging.js"></script>
<script src="bootstrap/bootstrap.js"></script>
    <script src="tagInput/ng-tags-input.min.js"></script>
    <link rel="stylesheet" href="tagInput/ng-tags-input.min.css" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/collapsingMenu.css" rel="stylesheet">
<link href="slick/slick.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css" >
    <script src="slick/slick.min.js"></script>
    <script src="angular/slick.min.js"></script>
<script src="js/collapseMe.js"></script>
<script src="js/mocki.js"></script>
<script src="js/REST.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
<script>
Date.prototype.yyyymmddhhmmss = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();   
		
        var hh = this.getHours().toString();                                  
        var min = this.getMinutes().toString();
        var ss  = this.getSeconds().toString();          
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]) + ' ' + (hh[1]?hh:"0"+hh[0]) + ':' + (min[1]?min:"0"+min[0]) + ':' + (ss[1]?ss:"0"+ss[0]);
   };
   
var app = angular.module('studentInfoApp', ['ngSanitize', 'ngRoute', 'mgcrea.ngStrap', 'ngTagsInput', 'bardo.directives', 'paging']);

app.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/article/:articleId', {
        templateUrl: 'templates/artykul.html',
        controller: 'ArticleController'
      }).
      when('/articleList', {
        templateUrl: 'templates/listaArtykolow.html',
        controller: 'ListaArtykolowControler'
      }).
      when('/main', {
        templateUrl: 'templates/glowna.htm',
        controller: 'GlownaController'
      }).
      when('/userPage/:userName', {
        templateUrl: 'templates/stronaUzytkownika.html',
        controller: 'StronaUzytkownikaController'
      }).
      when('/register', {
        templateUrl: 'templates/rejestracja.html',
        controller: 'RejestracjaController'
      }).
      when('/comments/:articleId', {
        templateUrl: 'templates/komentarze.html',
        controller: 'CommentsController'
      }).
      otherwise({
        redirectTo: '/main'
      });
  }]);

'use strict';


app.config(function($dropdownProvider) {
  angular.extend($dropdownProvider.defaults, {
    html: true
  });
})

app.factory("SharedData", function(){

  return {currentUserName: {data: "" },
			mainCategories: {data: "" },
			tags: {data: "" }  }

});

app.service('tags', function($q) {
  
  this.load = function(tags) {
    var deferred = $q.defer();
    deferred.resolve(tags);
    return deferred.promise;
  };
}); 

app.controller('topAndSideContrler', function($scope, $http, SharedData, tags) {

 $scope.listOfArticles = [];
 
    $scope.getListOfArticles = function(len)
  {
  
  if ($scope.listOfArticles.length != 0)
		return $scope.listOfArticles;
		
  var arr = getListOfArticles(len);

  $scope.listOfArticles = arr;
  
  return $scope.listOfArticles;
}

$scope.articlesForRanks = {};

$scope.getArticleByRankId = function(id)
{
	if ($scope.articlesForRanks[id] == null)
	{
		GetArticlesByRankForSide(id, 3, 0, 1, 'publication_date', $scope, $http);
	}
}

$scope.getArticleByRankId(2);
$scope.getArticleByRankId(1);

$scope.userLoggedIn = false;

$scope.getButtonText = function() {
  // if ($scope.GetCurrentUserName()) {
    //return 'Zaloguj';
  // } else {
  //   return $scope.currentUserData.name;
  // }

  if ($scope.userLoggedIn) {
    return $scope.currentUserName.data;
  } else {
    return 'Zaloguj';
  }
}

$scope.currentUserGroup = null;

$scope.LogIn = function(login, pass)
{
	Login(login, pass, $scope, $http);
}

$scope.LogOut = function()
{
	Logout($scope, $http);
  $scope.currentUserGroup = null;
}
  
  $scope.getImage = function(id, width, height){
    return '/portal/image?id=' + id + '&width=' + width + '&height=' + height;
  };
  
  
  $scope.currentUserName = SharedData.currentUserName;
  
  $scope.GetCurrentUserName = function()
{
	GetCurrentUserLogin($scope, $http);
}

$scope.getUser = function(name)
{
	GetUser(name, $scope, $http);
}

$scope.GetCurrentUserName();
  
  $scope.getTags = function()
  {
	GetTags($scope, $http);
  }
  
$scope.selectedTags = [];
$scope.tags = SharedData.tags;
$scope.getTags();

$scope.loadTags = function(query) {
    return tags.load($scope.tags.data);
  };
  
  $scope.getTagString = function() {
	var out = [];
	for (i in $scope.selectedTags)
  {
	out.push($scope.selectedTags[i].id);
	}
	
	return out.toString();
  }

  $scope.mainCategories = SharedData.mainCategories;
  $scope.getMainCategries = function()
  {
	GetMainCategories($scope, $http);
  }
  $scope.getMainCategries();
  
  
  
  $scope.UserAvatarPath = "";
  
  $scope.getUserAvatar = function(id){
	if ($scope.UserAvatarPath.length != 0)
		return $scope.UserAvatarPath;
	
	$scope.UserAvatarPath = "/portal/avatar?id=" + id;
	return $scope.UserAvatarPath;
  };
  
  $scope.getUserAvatar(0);
});




app.controller('GlownaController', function($scope, SharedData, $http) {

$scope.articlesForRanks = {};

$scope.getArticleByRankId = function(id)
{
	if ($scope.articlesForRanks[id] == null)
	{
		GetArticlesByRankForSide(id, 3, 0, 1, 'publication_date', $scope, $http);
	}
}

$scope.getArticleByRankId(2);
$scope.getArticleByRankId(1);

 $scope.listOfArticles = [];
 
    $scope.getListOfArticles = function(len)
  {
  
  if ($scope.listOfArticles.length != 0)
		return $scope.listOfArticles;
		
  var arr = getListOfArticles(len);

  $scope.listOfArticles = arr;
  
  return $scope.listOfArticles;
}

$scope.getListOfArticles(3);

  $scope.mainCategories = [];
  
  $scope.getMainCategries = function()
  {
	GetMainCategoriesForMainPage($scope, $http);
  }
  
  $scope.getMainCategries();
  
$scope.getImage = function(id, width, height){
    return '/portal/image?id=' + id + '&width=' + width + '&height=' + height;
  };
  
  $scope.articlesForCategories = {};
  
  $scope.getArticlesByCategoryForMain = function(id)
  {
	GetArticlesByCategoryForMainPage(id, 3, 1, 1, 'publication_date', $scope, $http);
  }
  
  $scope.getArticlesForCategorySection = function()
  {
	for (var i in $scope.mainCategories)
	{
		$scope.getArticlesByCategoryForMain($scope.mainCategories[i].id);
	}
  }
  
	$scope.slickConfig = {
		arrows: false,
		dots: true,
		infinite: true,
		autoplay: true,
		autoplaySpeed: 300,
		speed: 2000,
		slidesToShow: 1,
		touchMove: false,
		slidesToScroll: 1};

	$scope.slickHandle = {
	};
});





app.controller('ArticleController', function($scope, $http, SharedData, $routeParams) {

 $scope.getImage = function(id, width, height){
    return '/portal/image?id=' + id + '&width=' + width + '&height=' + height;
  };
  
$scope.getUserAvatar = function(id){
	return "/portal/avatar?id=" + id;
  };

  $scope.currentUserName = SharedData.currentUserName;
$scope.tags = SharedData.tags;

$scope.getTagName = function(id)
{
	for (i in $scope.tags.data)
	{
		if ($scope.tags.data[i].id == id)
			return $scope.tags.data[i].name;
	}
	return "";
}

$scope.articleId = $routeParams.articleId;
$scope.article = null;


	$scope.getArticle = function(articleId)
	{
		GetArticle(articleId, $scope, $http);
	}
	
	$scope.getArticle($scope.articleId);

	
$scope.getTagString = function() {
	var out = [];
	for (i in $scope.article.tag)
  {
	out.push($scope.article.tag[i].id);
	}
	
	return out.toString();
  }
   
   $scope.listOfArticles = [];
   
   $scope.getArticles = function()
   {
	GetArticlesByTags($scope.getTagString(), 3, 0, 1, 'publication_date', $scope, $http);
   }
   
   

   var showRepliesToComment = 0;

   $scope.click = function(commentId){
   if (showRepliesToComment == commentId)
   {
     showRepliesToComment = 0;
	 }
	 else
	 {
		showRepliesToComment = commentId
	 }
   }
   $scope.showButton = function(commentId){
     return showRepliesToComment == commentId;
   }
   
   var showComment = 0;

   $scope.clickComment = function(commentId){
	if (showComment == commentId)
	{
     showComment = 0;
	 }
	 else
	 {
     showComment = commentId;
	 }
   }
   $scope.showCommentButton = function(commentId){
     return showComment == commentId;
   }
   
	$scope.articleComments = null;

	$scope.commentsPage = 1;
	$scope.commentsLimit = 20;
	$scope.total = 30;

	$scope.getArticleComments = function(articleId)
	{
		GetArticleComments(articleId, $scope.commentsPage, $scope.commentsLimit, $scope, $http);
	}

	$scope.getArticleComments($scope.articleId);
	
  $scope.milisecToDate = function(miliseconds)
  {
	return new Date(miliseconds).yyyymmddhhmmss();
  }
  
  $scope.replyComment = {};
  $scope.commentContent = "";
  
  $scope.addComment = function(parentId)
  {
	CommentArticle($scope.currentUserName.data, $scope.articleId, $scope.commentContent, null, $scope, $http);
	$scope.commentContent = "";
  }
  
  $scope.addReplyComment = function(parentId)
  {
	CommentArticle($scope.currentUserName.data, $scope.articleId, $scope.replyComment[parentId], parentId, $scope, $http);
	$scope.replyComment[parentId] = "";
	$scope.clickComment(parentId);
  }
  
	$scope.slickConfig = {
		arrows: true,
		dots: true,
		infinite: true,
		autoplay: true,
		autoplaySpeed: 300,
		speed: 2000,
		slidesToShow: 1,
		touchMove: false,
		slidesToScroll: 1};

	$scope.slickHandle = {
	};
	
	$scope.categoriesByChild = [];
	$scope.getCategoryByChild = function(id)
	{
		GetCategoriesForBreadCrumbs(id, $scope, $http)
	}
	
	
	$scope.categoriesForBreadcrumbs = []
	$scope.getCategoryForBreadCrumbs = function()
	{
		$scope.categoriesForBreadcrumbs = $scope.getCategoryForBreadcrumbsRecursive($scope.article.category_id.id, $scope.categoriesByChild);
	}
	
	$scope.getCategoryForBreadcrumbsRecursive = function(id, arr)
	{
		for (var index in arr)
		{
			if (arr[index].id == id)
			{
				return [arr[index]];
			}
			else if (arr[index].children != null && arr[index].children.length > 0)
			{
				var out = $scope.getCategoryForBreadcrumbsRecursive(id, arr[index].children);
				
				if (out != null)
				{
					var outArr = [arr[index]];
					outArr.push.apply(outArr, out);
					return outArr;
				}
			}
		}
		return null;
	}
});





app.controller('ListaArtykolowControler', function($scope, $http, $location) {
  
  $scope.getImage = function(id, width, height){
    return '/portal/image?id=' + id + '&width=' + width + '&height=' + height;
  };
  
  $scope.articlesPage = 1;
$scope.articlesLimit = 20;
$scope.total = 30;

 $scope.listOfArticles = [];
 
  $scope.getListOfArticles = function()
  {
  if ($scope.category != null)
  {
	GetArticlesByCategory($scope.category, $scope.articlesLimit, $scope.articlesPage, 1, 'publication_date', $scope, $http);
  }
  else if ($scope.search != null)
  {
	GetArticlesByTags($scope.search, $scope.articlesLimit, $scope.articlesPage - 1, 1, 'publication_date', $scope, $http);
  }
}

	$scope.ChangePage = function(page)
	{
		$scope.articlesPage = page;
		$scope.getListOfArticles();
	}

$scope.search = $location.search()['search'];

$scope.category = $location.search()['category'];
$scope.getListOfArticles();
});





app.controller('StronaUzytkownikaController', function($scope, $http, $routeParams, SharedData) {

//$scope.currentUserName = SharedData.currentUserName;
GetCurrentUserLogin($scope, $http);
$scope.userName = $routeParams.userName;

$scope.searchedUser =null;

$scope.showEditName = true;
$scope.showEditSurname = true;
$scope.showEditCity = true;
$scope.showEditGender = true;
$scope.showEditEmail = true;

$scope.click = function(){
  $scope.showEditDesc = !$scope.showEditDesc;
}

$scope.click1 = function(){
  $scope.showEditName = !$scope.showEditName;
};

$scope.click2 = function(){
  $scope.showEditSurname = !$scope.showEditSurname;
};

$scope.click3 = function(){
  $scope.showEditCity = !$scope.showEditCity;
};

$scope.click4 = function(){
  $scope.showEditGender = !$scope.showEditGender;
};

$scope.click5 = function(){
  $scope.showEditEmail = !$scope.showEditEmail;
};

$scope.editName = function()
{
  EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'name': $scope.searchedUser.name});
  $scope.click1();
}

$scope.editSurname = function()
{
  EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'surname': $scope.searchedUser.surname});
  $scope.click2();
}

$scope.editCity = function()
{
  EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'city': $scope.searchedUser.city});
  $scope.click3();
}

$scope.editGender = function()
{
  EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'gender': $scope.searchedUser.gender});
  $scope.click4();
}

$scope.editEmail = function()
{
  EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'email': $scope.searchedUser.email});
  $scope.click5();
}

$scope.editDescription = function()
{
   EditUser($scope, $http, $scope.userName, {'login': $scope.userName, 'info': $scope.searchedUser.info});
   $scope.click();
}

$scope.getUser = function(name)
{
	GetUser(name, $scope, $http);
}

$scope.getUser($scope.userName);


$scope.userComments = null;

$scope.commentsPage = 1;
$scope.commentsLimit = 20;
$scope.total = 30;

$scope.getUserComments = function(userId)
{
	GetUserComments(userId, $scope.commentsPage, $scope.commentsLimit, $scope, $http);
}

$scope.getUserComments($scope.userName);

	$scope.ChangePage = function(page)
	{
		$scope.commentsPage = page;
		$scope.getUserComments(1);
	}
  
 $scope.listOfArticles = [];
 
  $scope.getListOfArticles = function(len)
  {
  if ($scope.listOfArticles.length != 0)
		return $scope.listOfArticles;
		
  var arr = getListOfArticles(len);

  $scope.listOfArticles = arr;
  
  return $scope.listOfArticles;
}

 $scope.listOfComments = [];
    $scope.getListOfCommentsMadeByUser = function(userId, len)
  {
  if ($scope.listOfComments.length != 0)
		return $scope.listOfComments;
		
  var arr = getListOfCommentsMadeByUser(userId, len);

  $scope.listOfComments = arr;

  return arr;
}

  $scope.getImage = function(id, width, height){
    return '/portal/image?id=' + id + '&width=' + width + '&height=' + height;
  };
  
  $scope.showEditDesc = false;
  
  
   
  $scope.milisecToDate = function(miliseconds)
  {
	 return new Date(miliseconds).yyyymmddhhmmss();
  }
});




app.controller('RejestracjaController', function($scope, $http) {

$scope.user = 
  {'login': '',
  'email': '',
  'password': '',
  'password1': '',
  'firstname': '',
  'lastname': '',
  'gender': '',
  'city': ''};


  var options = {    
    types: ['(cities)'],    
    componentRestrictions: {country: "pl"}
  };
  var input = document.getElementById('city');
  var autocomplete = new google.maps.places.Autocomplete(input, options);

 $scope.lTest = function(){
    if($scope.user.login != undefined)
    if($scope.user.login.trim() != '')
      LoginExists($scope, $http, $scope.user.login);
  };
  $scope.eTest = function(){
    if($scope.user.email != undefined)
    if($scope.user.email.trim() != '')
      EmailExists($scope, $http, $scope.user.email);
  };
  
	$scope.user = 
	{'login': '',
	'email': '',
	'password': '',
	'password1': '',
	'firstname': '',
	'lastname': '',
	'gender': '',
	'city': ''};

  var original = angular.copy($scope.user);

  $scope.reset = function() {
    $scope.user = angular.copy(original);
    $scope.password1 = $scope.user.password;
    $scope.regForm.$setPristine();

    original = angular.copy($scope.user);
  };

  $scope.canReset = function() {
    return !angular.equals($scope.user, original);
  };

  $scope.addListener = function() {
    google.maps.event.addListener(autocomplete, 'place_changed', function() {

      var places = autocomplete.getPlace();

      var city = places.adr_address.split('>')[1];
      city = city.split('<')[0];

      input.value = "siem";
      $scope.user.city = city;

      setTimeout(function(){
          input.value = $scope.user.city;    
      },1);
  });
  }

$scope.addListener();

	  $scope.getAddress = function(viewValue) {
		var params = {address: viewValue, sensor: false};
		return $http.get('http://maps.googleapis.com/maps/api/geocode/json', {params: params})
		.then(function(res) {
		  return res.data.results;
		});
	  };

    $scope.removeCountry = function() {

      if($scope.user.city.indexOf(',') !== -1)
      {
        $scope.user.city = $scope.user.city.split(',')[0];
      }
    }
  
	$scope.register = function()
	{
		Register($scope.user.login, $scope.user.password, $scope.user.email, $scope.user.firstname, $scope.user.lastname, $scope.user.city, $scope.user.gender, $scope, $http);
	}
	$scope.waitingForResponse = false;
	$scope.Registered = false;
});




app.controller('CommentsController', function($scope, $http, $routeParams, SharedData) {
   
   $scope.article = null;
   
   
  $scope.currentUserName = SharedData.currentUserName;
$scope.articleId = $routeParams.articleId;
$scope.article = null;


	$scope.getArticle = function(articleId)
	{
		GetArticle(articleId, $scope, $http);
	}
	
	$scope.getArticle($scope.articleId);
   
   showRepliesToComment = 0;

   $scope.click = function(commentId){
   if (showRepliesToComment == commentId)
   {
     showRepliesToComment = 0;
	 }
	 else
	 {
		showRepliesToComment = commentId
	 }
   }
   $scope.showButton = function(commentId){
     return showRepliesToComment == commentId;
   }
   
   showComment = 0;

   $scope.clickComment = function(commentId){
	if (showComment == commentId)
	{
     showComment = 0;
	 }
	 else
	 {
     showComment = commentId;
	 }
   }
   $scope.showCommentButton = function(commentId){
     return showComment == commentId;
   }
   
	$scope.articleComments = null;

	$scope.commentsPage = 1;
	$scope.commentsLimit = 20;
	$scope.total = 1;

	$scope.getArticleComments = function(articleId)
	{
		GetArticleComments(articleId, $scope.commentsPage, $scope.commentsLimit, $scope, $http);
	}

	$scope.getArticleComments($scope.articleId);
	
	$scope.ChangePage = function(page)
	{
		$scope.commentsPage = page;
		$scope.getArticleComments($scope.article.id);
	}
	
  $scope.milisecToDate = function(miliseconds)
  {
	return new Date(miliseconds).yyyymmddhhmmss();
  }
  
  $scope.replyComment = {};
  $scope.commentContent = "";
  
  $scope.addComment = function(parentId)
  {
	CommentArticle($scope.currentUserName.data, $scope.articleId, $scope.commentContent, null, $scope, $http);
	$scope.commentContent = "";
  }
  
  $scope.addReplyComment = function(parentId)
  {
	CommentArticle($scope.currentUserName.data, $scope.articleId, $scope.replyComment[parentId], parentId, $scope, $http);
	$scope.replyComment[parentId] = "";
	$scope.clickComment(parentId);
  }
});

</script>
</head>
<body>

<div class="bs-docs-section" ng-controller="topAndSideContrler">
    <div class="container">
	<div class="row containerm">
	 <div class="header" style="margin-top: 10px;">
      <div class="col-md-4">
        <a href="#main"><img src="pics/logo.png"></a>
      </div>
          <div class="col-md-4 pull-left">
        <div class="input-group col-xs-10">
      <tags-input ng-model="selectedTags" display-property="name" add-on-enter="false" placeholder="Dodaj tag">
        <auto-complete source="loadTags($query)" max-results-to-show="3"></auto-complete>
      </tags-input>
            <span class="input-group-btn">
          <a class="btn btn-primary" type="button" href="#articleList?search={{getTagString()}}"ng-disabled="selectedTags.length == 0">Szukaj</a>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <a href="#register" ng-hide="userLoggedIn" class="pull-right">Załóż konto</a>

        <span ng-switch on="currentUserGroup">
<div ng-switch-when="1"><a class="btn btn-default" href="adminIndex.html#/groups">Panel administratora</a></li></div>
<div ng-switch-when="2"><a class="btn btn-default" href="adminIndex.html#/groups">Panel moderatora</a></li></div>


      </div>
      <div class="col-md-2 pull-right">
        <div class='dropdown'>
			  <button type='button' class='btn dropdown-toggle pull-right' data-toggle='dropdown'>
<!-- 				<img ng-src="{{UserAvatarPath}}"> -->{{getButtonText()}}
				<b class='caret'></b>
			  </button>
			  <ul class="dropdown-menu list-unstyled pull-right" ng-hide="userLoggedIn" style="width: 220px; padding: 8% 10% 8% 10%; margin-top: 24%;">
				<li>
				  <form role="form">
					<div class="form-group">
<!-- 					  <label>Login</label> -->
					  <input class="form-control" placeholder="Login" type="text" ng-model="login">
					</div>
					<div class="form-group">
<!-- 					  <label for="exampleInputPassword1">Hasło</label> -->
					  <input class="form-control" id="exampleInputPassword1" placeholder="Hasło" type="password" ng-model="pass">
					</div>
					<button type="submit" class="btn btn-primary pull-right" ng-click="LogIn(login, pass)">Zaloguj</button>
				  </form>
				</li>
			  </ul>
			  <ul class="dropdown-menu list-unstyled" ng-show="userLoggedIn" style="margin-top: 24%;">
				<li>
					<a class="btn btn-default" href="#userPage/{{currentUserName.data}}">Konto</a></li>
					<li><a class="btn btn-default" ng-click="LogOut()">Wyloguj</a></li>
				<!-- </li> -->
			  </ul>
        </div>
      </div>
	  </div>
	  
      <div>

        <div class="col-md-12">
          <div class="navbar1 navbar-default navbar-inverse">
           
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav nav-collapsing" id="topMenu">
                <li ng_repeat="category in mainCategories.data"><a href="#articleList?category={{category.id}}"><b>{{category.name}}</b></a>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown">
                    Więcej <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" id="collapsed"></ul>
                </li>
              </ul>
            </div>
          </div>
		   <div class="green"></div>
        </div>
	  </div>
		
					
    </div>
      <div class="row">
		<div class="col-md-9">
		<div class="ng-view">
		</div>
		</div>
        <div class="col-md-3">
		<div class="row containerm">
		<div class="col-md-12" style="color: #000">
          <h2 class="center1">Popularne</h2>
          <ul class="list-group">
            <li class="list-group-item list1" ng-repeat="zajawka in articlesForRanks[2]">
              <a href="#article/{{zajawka.id}}">
                <img ng-src="{{getImage(artykul.image, 300, 200)}}" class="img-responsive">
                <h4 class="zajawka-title">{{zajawka.title}}</h4> 
                <div class="caption">
                  <p class="zajawka-text-justify">{{zajawka.description}}</p>
                </div>
              </a>
			  <hr style="margin: 5px 5px 5px 5px;" ng-hide="$last">
            </li>
          </ul>
          <h2 class="center1">Ważne</h2>
          <ul class="list-group">
            <li class="list-group-item list1" ng-repeat="zajawka in articlesForRanks[1]">
              <a href="#article/{{zajawka.id}}">
                <img ng-src="{{getImage(artykul.image, 300, 200)}}" class="img-responsive">
                <h4 class="zajawka-title">{{zajawka.title}}</h4> 
                <div class="caption">
                  <p class="zajawka-text-justify">{{zajawka.description}}</p>
                </div>
              </a>
			  <hr ng-hide="$last">
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
      <div class="foot">
      <a href='#'> O stronie </a> | <a href='#'> Kontakt </a> | <a href='#'> Regulamin </a>
      </div>
</div>

</body>
</html>