
<style>
	table {
		width: 340px;
	}
	table tr {
		border: none !important;
		width: 100%;
		padding: 5px;
	}
	table td {
		border: none !important;
		padding: 5px;
	}
</style>

<form role="form" name="articleForm">


		<div class="row containerm">
		<div class="col-md-12" style="color: #000; margin-top: 1em;">
			<input ng-model="newArticle.title" placeholder="Tytuł" class='col-md-7' maxlength='255' name='title' required>
			<textarea name='description' style="margin: 0px; height: 5em; width: 100%; resize:vertical; margin-top: 1em;" ng-model="newArticle.description" placeholder="Opis" maxlength='255' required></textarea>
			
			<textarea name='content' ckeditor="editorOptions" name="editor" ng-model="newArticle.content" placeholder="Treść" maxlength='10000' required></textarea>

			
			<span class="form-help pull-right" style='margin-top: 0.2em;'>{{newArticle.content.length ? newArticle.content.length : 0}} znaków (wraz z tagami html)</span>
			<form name="timepickerForm" class="form-inline" role="form">


			<div class='col-md-6'>


			<div class="form-group">
				<table>
					<tr>
						<td><label class='control-label'>Data publikacji:</label></td>
						<td>
							<div class="input-group">
							  <input style="width:100px" size="10" class="form-control" ng-model="newArticle.publication_date" data-autoclose="1" placeholder="Date" data-date-format="yyyy-MM-dd" bs-datepicker type="text">
							  <input style="width:90px" size="8" class="form-control" ng-model="newArticle.publication_date" data-autoclose="1" placeholder="Time" data-time-format="HH:mm:ss" bs-timepicker type="text">
							</div>
						</td>
					</tr>
					<tr>
						<td><label class='control-label'>Data zakończenia:</label></td>
						<td>
							<div class="input-group">
							  <input style="width:100px" size="10" class="form-control" ng-model="newArticle.expiration_date" data-autoclose="1" placeholder="Date" data-date-format="yyyy-MM-dd" bs-datepicker type="text">
							
							  <input style="width:90px" size="8" class="form-control" ng-model="newArticle.expiration_date" data-autoclose="1" placeholder="Time" data-time-format="HH:mm:ss" bs-timepicker type="text">
							</div>
						</td>
					</tr>
				</table>

				<div class='form-group col-md-12' style='color: #333; padding-left: 0;'>
				<label class='control-label col-md-3'>Tagi:</label>
					<tags-input class='col-md-5' ng-model="selectedTags" display-property="name" add-on-enter="false" placeholder="Dodaj tag" add-on-blur="false">
						<auto-complete source="loadTags($query)" max-results-to-show="3"></auto-complete>
					</tags-input><button class="btn btn-success btnb col-md-3" data-animation="am-fade-and-scale" data-template="html/modal/tagModalAdd.html" bs-modal="modal" ng-click="CreateNewTag()" style='margin-top: 0.3em;'>Dodaj tag</button>
				</div>

				<div class='form-group col-md-12' style='color: #333; padding-left: 0;'>
					<label class='control-label col-md-3'>Kategoria:</label>
					<select ng-model="newArticle.category_id.id" style="width: 40%;" class='form-control col-md-3'>
						<option ng-selected="{{category.id == newArticle.category_id.id}}" ng-repeat="category in getFlatList()" value="{{category.id}}">{{category.depth}} {{category.name}}</option>
					</select>
					<button class="btn btn-success btnb col-md-3" data-animation="am-fade-and-scale" data-template="html/modal/categoryModal.html" bs-modal="modal" ng-click="CreateNewCategory(null)" style='margin-left: 1em;'>Dodaj kategorię</button>
				</div>

				<div class='form-group col-md-12' style='color: #333; padding-left: 0;'>
					<label class='control-label col-md-3'>Ranga:</label>
					<select ng-model="newArticle.rank.id" style="width: 40%;" class='form-control col-md-3'>
						<option ng-selected="{{tagType.id == newArticle.rank.id}}" ng-repeat="tagType in listOfArticleRanks" value="{{tagType.id}}">{{tagType.name}}</option>
					</select>
				</div>

			</div>
		</div>

			<div class='col-md-6'>

				<table>
					<tr>
						<td><label class='control-label col-md-3'>Obrazek:</label></td>
						<td><input ng-model="newArticle.image" placeholder="Id obrazka" style="width: 180px;" class='form-control' maxlength='10' required></td>
						<td><button class="btn btn-success btnb" data-animation="am-fade-and-scale" data-template="html/modal/choseImage.html" bs-modal="modal" >Wybierz obraz</button></td>
					</tr>
				
				<tr>
					<td><label class='control-label col-md-3'>Galeria:</label></td>
					<td><input ng-model="newArticle.galery" placeholder="Id galerii" style="width: 100%;" class='form-control'></td>
				</tr>

				</table>

			</div>


		</div>

		<div class='col-md-12'>
			<button type="button" class="btn btn-primary pull-right" href="#articles" style='margin-left: 0.6em;'>Zamknij</button>
			<button type="button" class="btn btn-success pull-right" ng-show="newArticle.id == -1" ng-click="addArticle()" ng-disabled="!articleForm.$valid">Dodaj</button>
			<button type="button" class="btn btn-success pull-right" ng-show="newArticle.id > -1" ng-click="editArticle()">Zapisz zmiany</button>
		</div>

		</div>

		</form>

		</div>
			</div>




		<div class="row">
			<h1>Podgląd</h1>
			<div class="col-md-9">
				<div class="row containerm">
					<div style="padding: 10px 5px 0px 15px;"><p><a href="#main">Strona Główna </a> > <span ng-repeat="tag in artykuly"> <a ng-hide="$last" href="#">{{tag.title}}</a> <span ng-show="$last">{{tag.title}}</span> <span ng-hide="$last"> > </span></span></p></div>
				  <div class="well list1">
					<hr style="margin-top: -10px;"/>
					<h1 class="art-tytul">{{newArticle.title}} </h1>
					<p class="art-data">{{milisecToDate(newArticle.publication_date)}}</p>
					<div class="col-md-7">
				<div style="margin-left: -10px; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px; margin-top: 10px;">
					<img ng-src="{{getImage(newArticle.image, 560, 300)}}" class="img-responsive">
					<p ng-hide="mainImageMetadata.description == null">Opis: {{mainImageMetadata.description}}</p>
					<p ng-hide="mainImageMetadata.author == null">Autor: {{mainImageMetadata.author}}</p>
				</div>
            </div>
            <div class="col-md-5" style="padding-left:0px;">
				<p class="art-opis" style="font-weight:bold;text-indent:0px;"> {{newArticle.description}}</p>
            </div>
            <p class="art-tresc" style="line-height:35px;text-indent:0px;"ng-bind-html="newArticle.content | unsafe">
						</p>
			<div style="width: 550px; margin-left: auto; margin-right: auto; background-color: rgba(0,0,0,0.1); border-radius: 32px; padding: 20px 30px 10px 30px; margin-top: 20px; margin-bottom: 10px;" ng-hide="gallery == null || gallery.images.length == 0">
				<slick ng-transclude settings="slickConfig" control="slickHandle" style="width: 490px;" on-directive-init="slickInit()">
					<div ng-repeat="pic in gallery.images" on-last-repeat>
						<p style="margin-left: auto; margin-right: auto; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px">
							<img ng-src="{{getImage(pic.id, 560, 300)}}" class="img-responsive">
							
						<p ng-hide="pic.description == null">Opis: {{pic.description}}</p>
						<p ng-hide="pic.author == null">Autor: {{pic.author}}</p>
						</p>
					</div>
				</slick>
			</div>
			<p class="art-tagi" style="margin-top:45px;">
				<span style="font-weight:bold;">Wyświetlenia:</span> {{newArticle.views}} |<span style="font-weight:bold;"> Ranga: </span>{{newArticle.rank.name}}
				</p>
			<p>
				<span style="font-weight:bold;">Tagi:</span><a href="#articleList?search={{tag.id}}" ng-repeat="tag in newArticle.tag"> {{tag.name}}</a> 
			</p>

				  </div>
				  </div>
			</div>
		</div>
		</div>