
    <div clas="row">
    
        <div class="col-md-8">            
            <img src="http://placehold.it/800x600" class="img-responsive">    
        </div>  
        
        <div class="col-md-4">       
            <div>
                <div>
                <input class="form-control" rows="1" placeholder="Użytkownik..."></textarea>
                </div>  
               
                <div>
                <input class="form-control" rows="1" placeholder="Data początkowa..."></textarea>
                </div>   
                <div>
                <input class="form-control" rows="1" placeholder="Data końcowa..."></textarea>
                </div>          
 
                <div>		
                <button class="btn btn-block btn-success btnb" data-animation="am-fade-and-scale">Wczytaj</button>
                </div>     
                <br>
            </div>
            
			<div>
				Autor:
			</div>
			<div>
                <input class="form-control" rows="1"></textarea>
			</div>  
            <br>
            
			<div>
				Opis:
			</div>          
			<div>
				<textarea class="form-control" rows="6"></textarea>
			</div>
            <br>
            
			<div>
				Tagi:
			</div>
			<div>
				<input class="form-control" rows="1"></textarea>
			</div> 
            <br>
            
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-block btn-danger btnb" data-animation="am-fade-and-scale">Usuń</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-warning btnb" data-animation="am-fade-and-scale">Pomiń</button>
                </div>        
                <div class="col-md-4">
                    <button class="btn btn-block btn-success btnb" data-animation="am-fade-and-scale">Akceptuj</button>
                </div>                    
            </div>
            
        </div>    
    </div>