
		<div class="row">
			<input ng-model="newArticle.title" placeholder="Tytuł">
			<textarea style="margin: 0px; height: 40px; width: 100%; resize:vertical;" ng-model="newArticle.description" placeholder="Opis"></textarea>
			
                <textarea ckeditor="editorOptions" name="editor" ng-model="newArticle.content" placeholder="Treść"></textarea>

			
			<span class="form-help">{{newArticle.content.length}} znaków</span>
			<form name="timepickerForm" class="form-inline" role="form">
			<div class="form-group">
				Data publikacji:
				<div class="form-group">
				  <input size="10" class="form-control" ng-model="newArticle.publication_date" data-autoclose="1" placeholder="Date" data-date-format="yyyy-MM-dd" bs-datepicker type="text">
				</div>
				<div class="form-group">
				  <input size="8" class="form-control" ng-model="newArticle.publication_date" data-autoclose="1" placeholder="Time" data-time-format="HH:mm:ss" bs-timepicker type="text">
				</div>
				
				<div>
				Tagi:
					 <tags-input ng-model="selectedTags" display-property="name" add-on-enter="false" placeholder="Dodaj tag">
						<auto-complete source="loadTags($query)" max-results-to-show="3"></auto-complete>
					</tags-input>
				</div>

				<div>
				
				Kategoria:
				<select ng-model="newArticle.category">
				<option ng-selected="{{tagType.id == newArticle.rank}}" ng-repeat="tagType in getlistOfCategories()" value="{{tagType.id}}">{{tagType.name}}</option>
				</select>
				</div>
			</div>
</form>
		<a type="button" class="btn btn-primary" href="adminArticles.html">Zamknij</a>
		<a type="button" class="btn btn-success" ng-show="newArticle.id == -1">Dodaj</a>
		<a type="button" class="btn btn-success" ng-show="newArticle.id > -1">Zapisz zmiany</a>
		</div>
		<div class="row">
			<h1>Podgląd</h1>
			<div class="col-md-9">
				<div class="well">
					<h1 class="art-tytul">{{newArticle.title}} </h1>
					<p class="art-data">{{newArticle.publication_date.yyyymmddhhmmss()}}</p>
					<div class="col-md-7">
						<div style="margin-left: -10px; background-color: #FFF; border-radius: 16px; padding: 10px 10px 10px 10px; width: 470px; margin-top: 10px;">
							<img src="{{getImage(artykuly[0].image, 450, 300)}}" class="img-responsive">
							<p>Opis opis</p>
							<p>Autor: </p>
						</div>
					</div>
					<div class="col-md-5">
						<p class="art-opis"> {{newArticle.description}}</p>
					</div>
					<p class="art-tresc" ng-bind-html="newArticle.content | unsafe">
					</p>
					</br>
					<p>Wyświetlenia: {{newArticle.views}} | Ranga: {{newArticle.rank}}</p>
					<p>Tagi:<a href="#" ng-repeat="tag in selectedTags"> {{tag.name}}</a> </p>
				</div>
			</div>
		</div>