<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Edycja rangi artykułu</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-2">
				Nazwa*:
			</div>
			
			<div class="col-md-9">
				<input ng-model="articleRankForModal.name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				Waga*:
			</div>
			
			<div class="col-md-9">
				<input type="number" ng-model="articleRankForModal.weight">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				Opis:
			</div>
			<div class="col-md-9">
				<textarea style="margin: 0px; height: 180px; width: 100%; resize:vertical;" ng-model="articleRankForModal.description"></textarea>
			</div>
		</div>
		* - pola obowiązkowe
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Zamknij</button>
        <button type="button" class="btn btn-success" ng-disabled="articleRankForModal.name == '' || articleRankForModal.name.length < 3 || articleRankForModal.weight == null || articleRankForModal.weight == '' || articleRankForModal.weight < 1" ng-click="UpdateArticleRank(articleRankForModal.id); $hide()">Zmień</button>
      </div>
    </div>
  </div>
</div>