<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="modalInfo.title"></h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-2">
				Nazwa*:
			</div>
			
			<div class="col-md-4">
				<input ng-model="categoryForModal.name">
			</div>

			<span class="help-block col-md-5" style="color: #f0ad4e; font-size: 12px; margin-bottom: 0px;" data-ng-show="categoryForModal.name != '' && categoryForModal.name.length < 3">Podaj przynajmniej 3 znaki...
            </span>

		</div>
		<div class="row">
			<div class="col-md-2">
				Rodzic:
			</div>
			<div class="col-md-9">
				<select ng-model="categoryForModal.parent">

				<option value="null" ng-selected="categoryForModal.parent == null || categoryForModal.parent == ''">- Brak -</option>
				<option ng-repeat="category in getFlatList()" ng-selected="{{category.id == categoryForModal.parent}} && categoryForModal.parent != null" value="{{category.id}}">{{category.name}}</option>
				</select>
			</div>
		</div>

			<div class="row">
			<div class="col-md-2">
				Opis:
			</div>
			<div class="col-md-9">
				<textarea style="margin: 0px; height: 80px; width: 100%; resize:vertical;" ng-model="categoryForModal.description"></textarea>
			</div>
		</div>
		* - pola obowiązkowe
		</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Zamknij</button>
        <button type="button" class="btn btn-success" ng-disabled="categoryForModal.name == '' || categoryForModal.name.length < 3 || categoryForModal.parent == categoryForModal.id" ng-click="addOrUpdate(modalInfo.op, categoryForModal.id); $hide()" ng-bind="modalInfo.buttonText"></button>
      </div>
    </div>
  </div>
</div>