body,
html {
  text-decoration: none;
  font-family: Lato;
}
.comment1{ 
color:#23b14d;
font-size:24pt;
text-indent:20px;
}
.comment2{
color:#23b14d;
font-size:18pt;
}
.comment3{ 
text-align: right; 
color:#23b14d;
font-size:12pt;
}
.container {
  background-color: #ffffff;
}
.containerm {
  background-color: #f5f5f5;
}
.clear {
  clear: both;
}
.list {
  background-color: #f5f5f5;
  border: none;
}
.foot {
  background-color: #c2c2c2;
  width: 1170px;
  margin-left: -15px;
}
.foot a {
  text-decoration: none;
  color: #000000;
  font-size: 12pt;
  margin: 10px;
}
.zajawka-title {
  text-decoration: none;
  color: #23b14d;
  font-size: 12pt;
}
.zajawka-text-justify {
  text-decoration: none;
  color: #000000;
  font-size: 11pt;
}
.col-md-12 {
  color: #ffffff;
}
.img-responsive {
}
.text-justify {
  font-weight: bold;
  color: black;
  font-size: 12pt;
  text-decoration: none;
}
.bg-title {
  color: #23b14d;
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #484848;
}
.green {
  /*pasek*/
  height: 4px;
  background-color: #23b14d;
}
.row {
  padding-bottom: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 16px;
}
.navbar1 {
  color: #ffffff;
  background-color: #484848;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
margin-top: 15px;
}
/*strona artykulu*/
.list1{
border: none;
box-shadow: none;
}
.list-group-item:first-child{
border-top-right-radius: 16px;
border-top-left-radius: 16px;
}
.list-group-item:last-child{
border-bottom-right-radius: 16px;
border-bottom-left-radius: 16px;
}
.row1{
background-color: white;
}
.podobne{
color:#23b14d;
}
.pasek2{
margin-top: 0px;
}
.collapse2{
width:600px;
height:35px;
margin-left:auto;
margin-right:auto;
}
.nav1 li a{
padding-top: 7px;
padding-bottom: 5px;
}
.podobne-tytul{
color:#23b14d;
font-size:20pt;
}
.podobne-opis{
color:black;
font-size:11pt;
}
.koment{
margin-bottom:15px;
}
.art-tytul{
color:#23b14d;
font-size:24pt;
}
.art-data{
color: #484848;
font-size:10pt;
}
.art-opis{
color:black;
font-size:12pt;
text-indent:30px;
text-align: justify;
}
.art-tresc{
color:black;
font-size:10pt;
text-indent:30px;
text-align: justify;
}
.art-tagi{
color:#484848;
font-size:10pt;
}
.btn1:hover{
background-color: #23b14d;
}
.btn1{
float:right;
margin-right:18px;
background-color: #23b14d;
}
.c1{
margin-top:50px;
}
.przycisk{
color:#484848;
float:right;
margin:5px;
}
.center1{
text-align: center;
}
.btn2{
float:right;
margin-right:18px;
background-color: #484848;
color:white;
border:none;
}
.btn2:hover{
background-color: #484848;
}

/* pokaż tylko kawałek tekstu*/
.commentText {
         font-size: 16px;
         line-height: 16px;
         height: 32px;
         overflow: hidden;
    }
    .show {
         overflow: visible;
         height: auto;
    }

/*strona z artykulami*/
.artykuly-art-tytul{
color:black;
font-size:16pt;
}
.artykuly-art-opis{
color:black;
font-size:12pt;
}
.artykuly-art-data{
color:#c2c2c2;
}

/*formularz rejestracyjny*/
.tytul_form_rej{
color:white;
}
.rejestracja-tytul{
color:#ffffff;
font-size:20pt;
padding-top:5px;
padding-left:5px;
}
.navbar2{
  color: #ffffff;
  background-color: #484848;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-topright: 5px;
  -khtml-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  margin-top: -20px;
}

.nazwa_uzytk{
color:#23b14d;
font-weight: normal;
}

.komentarz_login{
color:#23b14d;
}